# Ignore all files
*
# Ignore all folders
*/

# upload these folders and their contents
!inc/
inc/*
!src/
src/*
!doc/
doc/*

# don't ignore these files
!.gitignore
!CMakeLists.txt
!README.md
!LICENSE




